- name: Change Hostname
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - variables.yml
  tasks:
    - name: Change hostname of the IAP
      arubainstant_config:
        host: "{{ virtual_controller_ip }}"
        username: "{{ virtual_controller_username }}"
        password: "{{ virtual_controller_password }}"
        method: POST
        api_type: action
        api_name: hostname
        data: { "iap_ip_addr": "1.1.1.1", "hostname_info": { "hostname" : "new-hostname" } }
